{% set navigation = [
('home','Home'),
('about','About'),
('short_url:list','Short urls'),
] %}

<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Панель навигации</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for name, title in navigation %}
          {% set url = url_for(name) %}
          <li class="nav-item">
            <a
              {% if url.path == request.url.path %}
                class="nav-link active fw-semibold bg-info-subtle rounded-pill"
                aria-current="page"
              {% else %}
                class="nav-link"
              {% endif %}
              href="{{ url }}">
              {{ title }}
            </a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="https://ya.ru">Yandex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com">YouTube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Отключенная</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
