{% from 'macro/schema_post_form.html' import post_from %}
{% extends 'base.html' %}

{% block title %}
  Create Short URL
{% endblock %}

{% block main %}
  <h1>
    Create new Short URL
  </h1>
  <code>
  </code>
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-4">
      {% set from_action = url_for('short_url:create') %}
      {% set back_url = 'short_url:list' %}
            {{ post_from(
            from_action=from_action,
            back_url=back_url,
            create_schema=create_schema,
            request=request,
            error=error,
            validated=validated,
            from_data=from_data,
            btn_text='Create'
            )}}
    </div>
  </div>
{% endblock %}