{% from 'macro/upt_del.html' import upt_del %}
{% extends 'base.html' %}


{% block title %}
  Short URL List
{% endblock %}

{% block main %}
  <h2>
    List of Short URLs
  </h2>
  {% if list_of_short_urls %}
    <div class="table-responsive">
      <a href="{{ url_for('short_url:create-view') }}" class="btn bg-success-subtle">Create new</a>
      <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
          <th scope="col">Slug</th>
          <th scope="col">Target url</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for short_url in list_of_short_urls %}
          <tr>
            <td><code>{{ short_url.slug }}</code></td>
            <td>
              <a target="_blank" href="{{ short_url.target_url }}">{{ short_url.target_url }}</a>
            </td>
            <td>
              {% if short_url.description %}
                {{ short_url.description }}
              {% else %}
                <code>-</code>
              {% endif %}
            </td>
            <td>
              {{ upt_del(
              slug=short_url.slug,
              upt_url='short_url:details',
              request=request
               ) }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h2>
      Doesn't have short URLs yet.
    </h2>
    <div>
      <a href="{{ url_for('short_url:create-view') }}" class="btn bg-success-subtle">Create new</a>
    </div>
  {% endif %}
{% endblock %}