{% extends 'base.html' %}


{% block title %}
  Film List
{% endblock %}

{% block main %}
  <h2>
    List of Films
  </h2>
  {% if list_of_films %}
    {% for film in list_of_films %}
      <div class="container my-2 p-2 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        <p class="m-0">
          {{ film.slug }}
        </p>
        <p class="m-0">

          {{ film.name }}
        </p>
        <p class="m-0">
          {{ film.author }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <h2>
      Doesn't have films yet.
    </h2>
  {% endif %}
{% endblock %}